.header-bg-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #2f3feb;
}

.header-link-style {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #041c32;
}

.header-link-style:active {
  color: #020202;
}

.header-link-style:hover {
  color: #020202;
}
